*.nav
*.aux
*.log
*.pre
*.out
*.eps
*.synctex.gz
*.lof
*.lot
*.toc
*.bbl
*.blg
*.snm
*.auxlock
*.md5
*.dat
*.script
*.table
*everywhere-*.svg
**/_region_*
**/test/test*.svg
**/media
**/auto
# thesis-doc/figures/**/*.pdf
**/movies
**/flipbook/*.mp4
**/flipbook/frames/
**/__pycache__/*
